body{
	padding:1em;
}

/* Acronym */
h1{
	transition:all .5s;
}
.hero-unit h1 span{
	display:none;
}
h1 span span{
	color:gray;
}
h1 abbr,
.hero-unit h1:hover abbr{
	display:none;
}
.hero-unit h1 abbr{
	display:inline;
}
h1:hover span{
	display:inline;
}

/* 'feedback' link */
.hero-unit h1 sub{
	display:none;
}
h1 sub{
	font-size:50%;
}

.typeahead{
	text-align:left;
}

/* Diff-links styles */
.mw-plusminus-pos{
	color:#006400;
}
.mw-plusminus-neg{
	color:#8b0000;
}
.mw-plusminus-null{
	color:#aaa;
}

.hero-unit+.nav-tabs{
	display:none;
}
footer{
	float:left;
	position:static;
	bottom:1em;
	display:none;
}
#ns-chart svg path.selected{
	stroke-width:3px!important;
}

/* Punchcard styles */
#punchcard svg circle {
	fill: #444!important;
}
#punchcard svg circle.day-hover {
	fill: #4183C4!important;
	z-index: 9999!important;
}
